<theme>
	
	<view name="system">
	
		<extras>

			<image 			
							name="overlaysystem"
							zIndex="12"
							origin="${p.center}"
							pos="${p.center}"
							size="${s.full}"
			/>

		<carousel
							name="systemcarousel"
							zIndex="0"
														
							size="${s.null}"
		/>
		
		</extras>

		<text 
							name="systemInfo"
							zIndex="100"
							
							origin="${p.ul}"
							pos="-${h.60} ${v.199}"
							
							backgroundColor="${c.null}"
							color="${c.white}"
							fontPath="${f.digital}"
							fontSize="${v.9}"
		/>

		<sound 				name="directory"
							path="${root}/_inc/music"
		/>
		
	</view>

</theme>