<theme>
	
	<view name="system">
	
		<extras>

			<image 			
							name="overlaysystem"
							zIndex="11"
							origin="${p.center}"
							pos="${p.center}"
							size="${s.full}"
							path="${root}/_inc/parts/overlaysystem.png"
			/>

		<carousel
							name="systemcarousel"
							zIndex="0"
							
							defaultTransition="slide"
							
							size="${s.null}"
		/>
		
		<text 
							name="systemName"
							zIndex="100"
							
							pos="${h.25} ${v.200}"
							size="${h.153} ${v.17}"
							
							color="${c.white}"
							fontPath="${f.komikax}"
							fontSize="${v.7}"
							alignment="center"
							text="${system.type.name} ( ${system.manufacturer} )"
		>
		
			<text if="!qvga &amp; !vga">Theme for 240p / 480i only !</text>
			<text.fr if="!qvga &amp; !vga">Thème 240p / 480i seulement !</text.fr>
		
		</text>

		</extras>

		<text 
							name="systemInfo"
							zIndex="100"
							
							origin="${p.ul}"
							pos="${h.56} ${v.185}"
							
							backgroundColor="${c.null}"
							color="${c.text}"
							fontPath="${f.komikax}"
							fontSize="${v.6}"
		/>
		
	</view>

</theme>